@import "~office-ui-fabric-react/dist/sass/References.scss";

.backToTopWrapper {
    position: fixed;
    border-radius: 5px;
    cursor: pointer;
    z-index: 99999;
    
    .backToTop {
        height: 20px;
        width: 20px;

        .icon {
            color: #fff;
            font-size: 18px;
        }
    }
}
